#content table{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
#content table,td{
  border: 1px solid orange;
  padding: 10px;
  vertical-align: middle;
}
#content table img{
  border-radius: 50%;
  width: 100px;
}
.sum1{
  width: 1069px;
  margin-top: 10px;
}
.sum1 input{
  float: right;
  border-style: none;
  background: orange;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.sum1 input:hover{
  color: orange;
  background: white;
}
.sum1 a{
  text-decoration: none;
  height: 30px;
  width: 50px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  background: orangered;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
}
.sum1 a:hover{
  color: orangered;
  background: white;
}
.cartInput input{
  border-style: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background: orange;
}
.cartInput input:hover{
  color: orange;
  background: white;
}
