body {
  margin: auto;
  width: 1065px;
  /*height: 5000px;*/
}


/*头部样式*/

#header {
  height: 50px;
  background: oldlace;
  margin-bottom: 10px;
}

#img{
  height: 50px;
  float: left;
}

#img img {
  height: 30px;
  margin: 10px;
}
#head{
  line-height: 50px;
  float: right;
  margin-right: 20px;
}
#head a{
  text-align: center;
  padding: 7px;
  color: white;
  text-decoration: none;
  background: orange;
  border-radius: 5px;
  margin-left: 10px;
}
#head a:hover{
  background: white;
  color: orange;
}
#nav {
  /*width: 100px;*/
  height: 40px;
  background: orange;
  line-height: 40px;
}
#nav input {
  
}
