body {
  margin: auto;
  width: 1065px;
  /*height: 5000px;*/
}


/*头部样式*/

#header {
  height: 50px;
  background: oldlace;
  margin-bottom: 10px;
}

#header .logo {
  height: 50px;
  float: left;
}

.logo img {
  height: 30px;
  margin: 10px;
}

.lest {
  float: right;
  line-height: 50px;
}

.lest a {
  margin-right: 10px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background: orange;
  color: white;
}

.lest a:hover {
  background: white;
  color: orange;
}

.username,
.register,
.login,
.logout {
  display: none;
}


/*导航部分样式*/

#nav {
  width: 1065px;
  height: 50px;
  margin: auto;
  background: orange;
  z-index: 99999;
}

#cat {
  float: left;
  line-height: 30px;
}

#cat li {
  float: left;
  margin: 10px;
  list-style: none;
}

#cat a {
  text-decoration: none;
  color: white;
  padding: 5px;
  background: orange;
  border-radius: 5px;
}

#cat a:hover {
  color: orange;
  background: white;
}

#search {
  margin: 10px;
  width: 250px;
  height: 30px;
  float: right;
  border-style: none;
  padding-left: 10px;
  border-radius: 5px;
}


/*內容部分样式*/

#content {
  width: 1065px;
  margin: 10px 0;
}

#content ul,
#cats {
  overflow: hidden;
}

#content p {
  height: 30px;
  width: 1069px;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  margin: 10px 0;
}

#hot-goods {
  width: 1069px;
  overflow: hidden;
  margin: auto;
}

#oError {
  width: 350px;
  height: 30px;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  margin: 50px auto;
  background-color: orange;
  color: white;
}

.goods {
  float: left;
  margin: 0 0px 15px 10px;
  width: 200px;
  height: 320px;
  box-sizing: border-box;
}

.goods a {
  text-decoration: none;
  color: black;
}

.goods:hover {
  border: 1px solid orange;
  box-shadow: 0 0 2px 2px orange;
}

.goods:hover img {
  opacity: 0.5;
}

.img img {
  width: 100%;
  height: 100%;
}

.name {
  margin-top: 5px;
  height: 85px;
  padding: 0 10px;
  overflow: hidden;
  font-size: 15px;
  line-height: 20px;
}

.name:hover {
  text-decoration: underline;
}

.price {
  padding: 0 10px;
  font-size: 22px;
  color: orange;
  float: left;
}

.goods i {
  font-size: 15px;
  color: orange;
  line-height: 23px;
}
/*底部*/
#footer {
  height: 300px;
  background: oldlace;
  padding: 20px;
}

#footerTop,
#footerBottom {
  width: 1069px;
  height: 150px;
  margin: 10px auto;
}

#footerTop li {
  width: 150px;
  float: left;
  margin-left: 25px;
  list-style: none;
  cursor: pointer;
}

#footerTop li a {
  width: 150px;
  display: block;
  margin-top: 10px;
  font-family: "微软雅黑";
  font-size: 12px;
}

#footerTop li img {
  width: 100px;
  margin-left: 10px;
}

#footerBottom {
  font-size: 14px;
}

#footerBottom ul {
  height: 60px;
  width: 1030px
}

#footerBottom li {
  list-style: none;
  float: left;
  margin-right: 10px;
  height: 20px;
  cursor: pointer;
}

#footerBottom p {
  width: 1069px;
  height: 20px;
  text-align: center;
}

