body {
  margin: auto;
  width: 1065px;
  /*height: 5000px;*/
}


/*头部样式*/

#header {
  height: 50px;
  background: oldlace;
  margin-bottom: 10px;
}

#header .logo {
  height: 50px;
  float: left;
}

.logo img {
  height: 30px;
  margin: 10px;
}
.lest {
  float: right;
  line-height: 50px;
}
.lest a{
  margin-right: 10px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background: orange;
  color: white;
}
.lest a:hover{
  background: white;
  color: orange;
}
.username, .register, .login, .logout {
  display: none;
}

/*导航部分样式*/

#nav {
  width: 1065px;
  height: 50px;
  margin: auto;
  background: orange;
  z-index: 99999;
}

#cat {
  float: left;
  line-height: 30px;
}

#cat li {
  float: left;
  margin: 10px;
  list-style: none;
}

#cat a {
  text-decoration: none;
  color: white;
  padding: 5px;
  background: orange;
  border-radius: 5px;
}

#cat a:hover {
  color: orange;
  background: white;
}

#search {
  margin: 10px;
  width: 250px;
  height: 30px;
  float: right;
  border-style: none;
  padding-left: 10px;
  border-radius: 5px;
}


/*內容部分样式*/

#content {
  width: 1065px;
  margin: 10px 0;
}
#content ul{
  overflow: hidden;
}
#content p {
  height: 30px;
  width: 1069px;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  margin: 10px 0;
}
#hot-goods{
  width: 1069px;
  
}
.goods{
  float: left;
  margin: 0 0px 15px 10px;
  width: 200px;
  height: 320px;
  box-sizing: border-box;
  
}
.goods a{
  text-decoration: none;
  color: black;
}
.goods:hover{
  border: 1px solid orange;
    
}
.goods:hover img{
  opacity: 0.5;
}
.img img{
  width: 100%;
  height: 100%;
}
.name{
  margin-top: 5px;
  height: 90px;
  padding: 0 10px;
  line-height: 20px;
}
.name:hover{
  text-decoration: underline;
}
.price{
  padding: 0 10px;
  color: orange;
}
#footer {
  width: 1025px;
  height: 260px;
  padding: 20px;
  background: oldlace;
}

#footer a {
  text-decoration: none;
}

.footer-01 {
  width: 1065px;
  height: 248px;
  margin: 0 auto;
}

.footer-01-top {
  width: 1065px;
  height: 69px;
}

.footer-01-top ul {
  width: 1023px;
}

.footer-01-top ul li {
  float: left;
  color: #9c9c9c;
  margin-top: 12px;
}

.footer-01-top ul li a {
  color: #6c6c6c;
  margin: 0 7px;
}

.footer-01 ul li a:hover {
  color: #f40;
}

.fonter-0101 p a:hover {
  color: #f40;
}

.footer-01-bottom ul li,
.fonter-0101 p {
  float: left;
  color: #9c9c9c;
  margin-top: 10px;
}

.footer-01-bottom ul li a,
.fonter-0101 p a {
  color: #6c6c6c;
  margin: 0 4px;
}

.fonter-0101 {
  clear: both;
}

.fonter-0101 p {
  float: left;
}

.fonter-0101 p i {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  background: url(../images/footer-02.jpg)no-repeat -860px 0;
}

.fonter-bottom01 {
  width: 1065px;
  height: 92px;
  clear: both;
}

.fonter-bottom01 div {
  float: left;
  margin-right: 26px;
  margin-top: 10px;
  height: 35px;
  cursor: pointer;
}

.fonter-bottom01-2 {
  background: url(../images/footer-02.jpg)no-repeat 0 0;
  width: 32px;
}

.fonter-bottom01-3 {
  background: url(../images/footer-02.jpg)no-repeat -38px 0;
  width: 35px;
}

.fonter-bottom01-4 {
  background: url(../images/footer-02.jpg)no-repeat -79px 0;
  width: 52px;
}

.fonter-bottom01-5 {
  background: url(../images/footer-02.jpg)no-repeat -138px 0;
  width: 86px;
}

.fonter-bottom01-6 {
  background: url(../images/footer-02.jpg)no-repeat -236px 0;
  width: 96px;
}

.fonter-bottom01-7 {
  background: url(../images/footer-02.jpg)no-repeat -342px 0;
  width: 85px;
}

.fonter-bottom01-8 {
  background: url(../images/footer-02.jpg)no-repeat -430px 0;
  width: 130px;
}

.fonter-bottom01-9 {
  background: url(../images/footer-02.jpg)no-repeat -565px 0;
  width: 80px;
}

.fonter-bottom01-10 {
  background: url(../images/footer-02.jpg)no-repeat -648px 0;
  width: 109px;
}

.fonter-bottom01-11 {
  background: url(../images/footer-02.jpg)no-repeat -759px 0;
  width: 99px;
}

.fonter-bottom01-12 {
  background: url(../images/footer-02.jpg)no-repeat -883px 0;
  width: 251px;
}
