
#sign-in{
	width: 400px;
	height: 420px;
	font-size: 18px;
	color: black;
	background:orchid;
	margin:auto;
}
.sign{
	width: 400px;
	height: 40px;
	font-size: 28px;
	color: cyan;
	font-weight: 600;
	text-align: center;
	line-height: 70px;
}
.sign11,.verification{
	width: 320px;
	height: 43px;
	font-size: 20px;
	line-height: 40px;
	margin: 50px 30px;
	margin-bottom: 0;
	padding-left: 4px;
}
.sign11 input,.verification input{
	width: 180px;
	height: 25px;
	font-size: 18px;
	line-height: 25px;
	margin: 5px 10px;
	border-style: none;
}
#sign-in button{
	width: 322px;
	height: 43px;
	font-size: 20px;
	line-height: 40px;
	margin: 0 30px;
}
#sign-in button:hover{
	color: green;
	font-size: 22px;
	background: whitesmoke;
	font-weight: 600;
}
#sign-in .error{
	background: white;
	font-size: 15px;
	color: red;
	display: none;
}

.iagree{
	width: 320px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	padding-left: 5px;
	margin: 30px;
}
.iagree a{
	text-decoration: none;
	color: blue;
}
.iagree a:hover{
	text-decoration: underline;
}

#imgss{
	width: 80px;
	height: 300px;
	position: fixed;
	top: 130px;
	right: 200px;
}
#imgss img{
	width: 80px;
	height: 30px;
}
#imgss div{
	width: 22px;
	font-size: 22px;
	color: green;
	float: left;
	margin: 8px;
}
