
#sign-in{
	width: 400px;
	height: 420px;
	font-size: 18px;
	color: black;
	background-image: linear-gradient(to top,#acc0ff,#d0bee8,#fee3ec);
	margin:40px auto;
}
.sign{
	width: 400px;
	height: 40px;
	font-size: 28px;
	color: white;
	font-weight: 600;
	text-align: center;
	line-height: 70px;
}
.sign11,.password,.verification{
	width: 320px;
	font-size: 20px;
	line-height: 40px;
	margin: 30px;
	margin-bottom: 0;
	padding-left: 4px;
}

#sign11,#verification{
	margin:50px 30px;
}

.sign11 input,.password input,.verification input{
	width: 197px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  border-style: none; 
  border-radius: 5px;
  padding-left: 5px;
}
#sign-in #button{
  width: 299px;
  height: 34px;
  font-size: 18px;
  line-height: 30px;
  margin: 0 36px;
  color: black;
  background:whitesmoke;
  border-style: none;
  border-radius: 5px;
}
#sign-in .error{
  width: 300px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: red;
  display: none;
  text-align: center;
  float: left;
}

.iagree{
	width: 320px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	padding-left: 5px;
	margin: 30px;
}
.iagree a{
	text-decoration: none;
	color: blue;
}
.iagree a:hover{
	text-decoration: underline;
}

#imgss{
	width: 80px;
	height: 300px;
	position: fixed;
	top: 130px;
	right: 200px;
}
#imgss img{
	width: 80px;
	height: 30px;
}
#imgss div{
	width: 22px;
	font-size: 22px;
	color: green;
	float: left;
	margin: 8px;
}
