* {
  margin: 0;
  padding: 0;
}

.carousel {
  width: 1065px;
  height: 450px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel .m_unit {
  width: 8000px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel ul {
  list-style: none;
}

.carousel ul li {
  float: left;
  width: 1065px;
  height: 450px;
}
.carousel ul li img{
 	width: 1065px;
  height: 450px;
}

.carousel:hover .btns{
	display: block;
}

.btns{
	display: none;
}

.btns a {
  position: absolute;
  width: 40px;
  height: 40px;
  color: white;
  line-height: 40px;
  font-size: 18px;
  top: 50%;
  margin-top: -20px;
  background-color: orange;
  opacity: 0.7;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

.btns a:hover {
  background-color: white;
  color: orangered;
}
.leftBtn {
  left: 10px;
}

.rightBtn {
  right: 10px;
}

.circles {
  position: absolute;
  width: 150px;
  height: 16px;
  bottom: 10px;
  right: 10px;
}

.circles ol {
  list-style: none;
}

.circles ol li {
  float: left;
  width: 16px;
  height: 16px;
  background-color: orange;
  opacity: 0.7;
  margin-right: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.circles ol li.cur {
  background-color: white;
}

